<p id="notice"><%= notice %></p>

<p>
  <strong>掲示板コード:</strong>
  <%= @comment.board_id %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @comment.message %>
</p>

<p>
  <strong>投稿者:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong></strong>
  <%= @comment.integer %>
</p>

<p>
  <strong>画像:</strong>
  <%= @comment.image %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
