<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>

  <div class="field">
    <%= form.label :groupname %>
    <%= form.text_field :groupname %>
  </div>

  <div class="field">
    <%= form.label :classification_id %>
    <%= form.select :classification_id, Classification.all.map { |c| [c.classification, c.id] } %>
  </div>

  <div class="field">
    <%= form.label :limit %>
    <%= form.number_field :limit %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.label :introduction %>
    <%= form.text_area :introduction %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
