<p id="notice"><%= notice %></p>

<h2><center>グループ詳細</center></h2>

<p>
  <center>
  <%= image_tag(url_for(image_of_groups_path(@group)),size:'100x100') %>
  </center>
</p>

<p>
  <strong>グループ名:</strong>
  <%= @group.groupname %>
</p>

<p>
  <strong>系統:</strong>
  <%= @group.classification.classification %>
</p>

<p>
  <strong>人数制限:</strong>
  <%= @group.limit %>
</p>

<p>
  <strong>作成者:</strong>
  <%= @group.user.name %>
</p>

<p>
  <strong>紹介文:</strong>
  <%= @group.introduction %>
</p>

<%= link_to 'グループ設定編集', edit_group_path(@group) %> |
<%= link_to 'グループ削除', @group, method: :delete, data: { confirm: 'グループが削除されます。実行しますか？' } %> |

<%= link_to '戻る', groups_path %>
