<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :icon, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :ニックネーム %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :年齢 %>
    <%= form.number_field :age, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :趣味 %>
    <%= form.text_area :hobby, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :自己紹介文 %>
    <%= form.text_area :introduction, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
