<h2><center>検索画面</center></h2>
 <hr></hr>
 <br></br>

<%= form_with url: groups_path, local: true, method: :get do |f| %>

<div class="input-group">
  <%= f.text_field :keyword, class: "form-control", placeholder: "" %>
</div>
<!--
<ul>
      <br></br>
     <center><button class="btn btn-primary" type="button">検索</button></center>
</ul>
-->
  <br></br>
  <hr></hr>
  <br></br>
  <h2>系統</h2>

<%= f.select :classification, options_from_collection_for_select(Classification.all,"id", "classification"),{ include_blank: true }, class: "form-select form-select-lg mb-3" %>

  <br><br></br></br>
  <h2>ハッシュタグ</h2>



  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

  <option selected>ハッシュタグを検索</option>
  <option value="1">#ワピース</option>
  <option value="2">#ルピー</option>
  <option value="3">#出久</option>
</select>


<div class="input-group">
  <%= f.text_field :hash_tag, class: "form-control", placeholder: "＃をつけて検索" %>
</div>
 <br></br>
<center><%= f.submit "検索", class: "btn btn-primary" %></center>
<% end %>
