<p id="notice"><%= notice %></p>

<p>
  <strong>Hash:</strong>
  <%= @tag.hash %>
</p>

<p>
  <strong>Group:</strong>
  <%= @tag.group_id %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
