<p id="notice"><%= notice %></p>

<center><h1><%= "#{@group.groupname}の掲示板" %></h1></center>

<br>

<div align="left"><%= link_to 'メッセージへ', messagelist_path %>
<br>
<div align="right"><%= link_to '投稿', new_board_path %></div>
<br>
<div align="left"><%= link_to 'グループ一覧へ', groups_path %>
<br><br>
<div align="left"><%= link_to 'グループ詳細', @group %>

<br>
<tbody>
  <% @boards.each do |board| %>
    <tr>
      <br>
      <td><%= image_tag(url_for(image_of_users_path(board.user_id)),size:'50x50') %></td>
      <br><br>
      <td><%= board.message %></td>
      </br></br>
      <% if board.image.present? %>
        <br><br>
        <td><%= image_tag(url_for(image_of_boards_path(board)),size:'100x100') %></td>
        </br></br>
      <% end %>
      <br>
      <td><%= link_to '詳細', board %> |</td>
      <td><%= link_to '編集', edit_board_path(board) %> |</td>
      <td><%= link_to '×', board, method: :delete, data: { confirm: 'この投稿を削除しますか？' } %></td>
    </tr>
    <br>
  <% end %>
</tbody>


<br>


