<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @board.icon %>
</p>

<p>
  <strong>内容</strong>
  <%= @board.message %>
</p>

<p>
  <strong>画像</strong>
  <%= @board.image %>
</p>

<p>
  <strong>投稿者</strong>
  <%= @board.user_id %>
</p>


<%= link_to '削除', @board, method: :delete, data: { confirm: '投稿内容を削除しますか？' } %> |
<%= link_to '戻る', boards_path %>
