<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @board.group_id %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @board.icon %>
</p>

<p>
  <strong>Message:</strong>
  <%= @board.message %>
</p>

<p>
  <strong>Image:</strong>
  <%= @board.image %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user_id %>
</p>

<%= link_to '削除', @board, method: :delete, data: { confirm: '投稿内容を削除しますか？' } %> |
<%= link_to '戻る', boards_path %>
