<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @icon.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(url_for(image_of_icons_path(@icon)),size:'100x100') %>
</p>

<%= link_to 'Edit', edit_icon_path(@icon) %> |
<%= link_to 'Back', icons_path %>
