<!DOCTYPE html>
<html>
  <head>
    <title>Shabies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

 <body>
    <div class="container">
      <%= yield %>
      
  <% if logged_in? %> 
  <div class="fixed-bottom">
    <div class="row">
      <hr></hr>
      <ul class="nav nav-tabs nav-fill">
      　　<li class="nav-item">
          <%= link_to profile_path, class: 'nav-link' do %>
                 <h6>ホーム</h6>
               <% end %>  
          </li>
      　  <li class="nav-item">
               <%= link_to messagelist_path, class: 'nav-link' do %>
                <h6>メッセージ</h6>
               <% end %>
          </li> 
          <li class="nav-item">
             <%= link_to edit_user_path(current_user.id), class: 'nav-link' do %> 
                  <h6>プロフィール</h6>
            <% end %>
          </li>
          <li class="nav-item">
               <%= link_to search_path, class: 'nav-link' do %>  
                   <h6>さがす</h6>
               <% end %>   
          </li>
          <li class="nav-item">
               <%= link_to new_group_path, class: 'nav-link' do %>
                     <h6>✚</h6>
               <% end %>
          </li>
      </ul>
    </div>
  </div>
  <% end %>
    </div>
 </body>
</html>
