<!DOCTYPE html>
<html>
  <head>
    <title>Shabies</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>


 <body style = "margin-bottom: 90px" >
    <div class="container">
      <%= yield %>

  <% if logged_in? %> 
  <div class="fixed-bottom bg-secondary">
    <table class="table">
      <tr>
        <td><center>
          <%= link_to profile_path, class: 'nav-link' do %>
            <%= image_tag "/images/homeicon.png", style:"max-width: 50%" %>
          <% end %>  
        </center></td>
        <td><center>
            <%= link_to messagelist_path, class: 'nav-link' do %>
              <%= image_tag "/images/chaticon.png", style:"max-width: 50%" %>
            <% end %>
        </center></td>
        <td><center>
            <%= link_to edit_user_path(current_user.id), class: 'nav-link' do %> 
              <%= image_tag "/images/profile.png", style:"max-width: 50%" %>
            <% end %>
        </center></td>
        <td><center>
            <%= link_to search_path, class: 'nav-link' do %>  
              <%= image_tag "/images/searchicon.png", style:"max-width: 50%" %>
            <% end %> 
        </center></td>
        <td><center>
            <%=link_to new_group_path, class: 'nav-link' do %>  
              <%= image_tag "/images/plusicon.png", style:"max-width: 50%" %>
            <% end %>
        </center></td>
      </tr>
    </table>
  </div>
  <% end %>
    </div>
    <%= javascript_pack_tag 'application'%>
  </body>
</html>