<p id="notice"><%= notice %></p>

<center><h1><%= "#{@group.groupname}参加メンバー一覧"%></h1></center>
<br>
<%= link_to '掲示板', boards_path(group_id: @group.id) %>
</br>
<br><br>
<table>
  <thead>
    <tr>
      <th>メンバー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% exist = false %>
  <tbody>
    <% @members.each do |member| %>
      <tr>
      <% if member.user_id.nil? %>
        <br>
      <% else %>
        <td><%= member.user.name %></td>
        <td><%= link_to 'メンバー詳細', member %></td>
        <td>  <%= link_to '脱退', member, method: :delete, data: { confirm: 'このグループを脱退しますか？' } %></td>
      <% end %>
      </tr>
      <% exist = true if current_user.id == member.user_id %>
    <% end %>
  </tbody>
</table>

<br>

<% if exist %>
  <br>
<% else %>
  <div align="left"> <%= link_to '参加', new_member_path %></div>
<% end %>