<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userroom.user_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @userroom.room_id %>
</p>

<%= link_to '編集', edit_userroom_path(@userroom) %> |
<%= link_to '戻る', userrooms_path %>
